body {
/* height: 2000px; */
}

.mouseimg{
  background-image: url('./assets/micecheese1.jpg');
  width: 100%;
  height: 100%;
  background-size: 10%;
  background-repeat:no-repeat;
  background-position: center center;
}

.sm-position--on{
  background-size: 90%;
}

.amp{
  display: inline-block;
  height: 75px;
  width: 75px;
  background-image: url('./assets/dancingguy1.png');
  background-size: 100%;
  background-position: 50% 15%;
}


.sm-move--on{
  animation-name: bounceIn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: translateX(-200px);
  }
  50%{
    opacity: 1;
    transform: translateX(0px);
  }
  70%{
    opacity: 1;
    transform: translateX(-20px);
  }
  80%{
    opacity: 1;
    transform: translateX(0px);
  }
  90%{
    opacity: 1;
    transform: translateX(-8px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}





.sm-colour--on{
  background-color: #f7e8b1;

}


.sm-page {
 width:100%}

 .sm-head{
   position: fixed;
  top: 0;
  width: 100%;
  margin: 2% 0;
 }

.sm-heading {
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Bree Serif', serif;
}
.sm-credit-container {
  font-family: 'Bitter', serif;
  font-weight: bold;
  margin: 0 2%;
  padding: 0 2%;
}

.sm-subcredit-container {
  font-family: 'Bitter', serif;
  letter-spacing: -1px;
  color: grey;
  margin:  0 2%;
  padding:  0 2%;
}


.sm-article-title {
  /* position: fixed; */

  margin:2%;
  padding:2%;
  width:100%;
  letter-spacing: 5px;
  font-weight:bolder;
  font-stretch: expanded;
  font-size: 4em;
  font-family: 'Ultra', serif;
}

.sm-article-title:hover {
  margin:2%;
  padding:2%;
  width:100%;
  letter-spacing: 5px;
  font-weight:bolder;
  font-stretch: expanded;
  color: #1d2d76;
  font-size: 4em;
  font-family: 'Ultra', serif;
}


/* FOOTER STYLING */
.sm-footer {
  position:fixed;
  bottom: 0;
	padding: 30px 0;
  width: 100%;
	overflow: hidden;
}

.sm-button {
  margin-left: 20px;
	float: left;
  font-family: 'Bitter', serif;

}

.sm-button a {
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-family: 'Bitter', serif;
  color: grey;
  text-decoration: none;
}

.sm-button a:hover {
  text-decoration: none;
  font-style: italic;

}
