body {
  margin:0;
  padding:0;
  width:100%;
  font-size:14px;
  line-height:1.5;
  font-family: 'Garamond Bold', serif;
  color: black; 
  min-height:100vh;
  overflow:scroll;
  postion:relative; 
  background-color:#fcfade;
}
.sm-page {
 width:100%}

.sm-category-container {
  left-margin:25%;
  padding:2%;
  width:20%;
  font-family: 'arial';
  margin-top: 10%;
  position: fixed;
}
.sm-header-container {
  margin:30%;
  padding:2%;
  width:30%;
  margin-top: 10%;
  position: fixed;
 
}

.sm-subheading-container {
  position: fixed;
  margin-top: 0%;
  margin: 17% 30% 30% 30%;
  padding:2%;
}

/* FOOTER STYLING */
.sm-footer {
  margin-top: 100px;
	padding: 30px;
  width: 100%;
	background-color: red;
	position: relative;
	overflow: hidden;
}

.sm-button {
  margin-left: 20px;
	float: left;
}

.sm-button a {
  text-align: center;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}

.sm-button a:hover {
  color: red;
	background-color: white;
  border: 1px solid red;
  text-decoration: none;
}

